.containerTitle{
    text-align: center;
    margin: 70px 0px 30px 0px;
    font-size: 60px;
}

.new{
    display: flex;
    /* flex-direction: row; */
    gap: 37px;
    align-items: center;
    justify-content: center;
}

.new img{
    width: 112px;
    height: 112px;
    margin-top: 40px;
}

@media screen and (max-width: 600px) {
    .new{
        scale: 0.7;
    }
  }